<%= form_for(@task, html: {class:'form-horizontal task_form'}, remote: true) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h4><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h4>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="col-md-11">
    <div class="form-group">
      <label class="col-xs-3 control-label">Task</label>
      <div class="col-xs-5">
        <%= f.select :index_task, options_from_collection_for_select(Task.where(type: "Task"), "id", "name", @task.index_task), include_blank: true %>
      </div>

    </div>

    <div class="form-group">
      <label class="col-xs-3 control-label">Name</label>
      <div class="col-xs-5">
        <%= f.text_field :name, class: 'form-control'  %>
      </div>
    </div>

    <div class="form-group last">
      <label class="col-xs-3 control-label">Description</label>
      <div class="col-xs-5">
        <%= f.text_area :description, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-10">
        <%= f.submit "Create", class: 'btn btn-default' %>
      </div>
    </div>
  </div>
</div>
<% end %>


<script type="text/javascript">
  <%= render template: 'tasks/task_utils.js' %>
</script>
